# Ref: https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/cloudwatch_concepts.html#Namespace
PM_METRIC_NAMESPACE=phone

# Ref: https://docs.aws.amazon.com/IAM/latest/UserGuide/access-key-self-managed.html#Using_CreateAccessKey
AWS_ACCESS_KEY_ID=aaa
AWS_SECRET_ACCESS_KEY=bbb
AWS_REGION=us-west-2

# Specify multiple phones in `BASE_URL1=SECRET1 BASE_URL2=SECRET2 ...`
PM_LOCATORS='http://192.168.1.10:5000=xxxx-yyyy http://192.168.1.20:5000=xxxx-yyyy'

# Alternatively, when only one phone is monitored, specify base url and secret separately.
#PM_BASE_URL=http://192.168.1.100:5000
#PM_SECRET=secret-token
